@media (max-width: 991px) {
    .promo {
        padding: 21px 30px 93px 30px;
    }
    .advantage {
        padding: 50px 30px 50px 30px; 
        &__icon {
            padding-right: 15px;
            &:nth-child(3) {
                padding-right: 0;
            }
        }
    }
    .consultation {
        padding: 100px 30px 92px 30px;
    }
    .catalog {
        &__content {
            justify-content: center;
        }   
    }
    .reviews {
        &__block {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            display: block;
            margin: 0 auto;
        }
        &__name {
            margin-top: 15px;
            text-align: center;
        }
        &__status {
            text-align: center;
        }
    }
    .carousel {
        &__inner {
            ul {
                width: 200px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: space-between;
            }
        }
    }
        
}

@media (max-width: 767px) {
    .promo {
        &__wrapper {
            margin-top: 70px;
        }
        &__header {
            font-size: 39px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__link {
            font-size: 15px;
        }
    }

    .header {
        &__phone {
            font-size: 15px;
        }
        &__logo {
            width: 180px;
            padding-right: 10px;
        }
        &__official {
            padding-right: 10px;
        }
    }

    .advantage {
        &__text {
            min-width: 200px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
        }
        &__icon{
            width: 80%;
            margin-top: 10px;
        }
        &__icons {
            margin-top: 0px;
        }
        &__headerdescr {
            margin-top: 15px;
        }
        &__descr {
            text-align: justify;
        }
    }
    
    .feed-form {
        padding: 0 30px 0 30px;
        width: 285px;
    }

    .title {
        font-size: 27px;
        &_left {
            font-size: 30px;
        }
    }

    .button {
        &_phone{
            width: 130px;
            font-size: 10px;
        }
    }

    .catalog{
        padding: 0 0 50px 0;
        &__tabs {
            flex-direction: column;
            margin-top: 30px;
        }
        &__tab {
            transform: skewX(0deg);
            margin-top: 5px;
            div{
                transform: skewX(0deg);
            }
        }
        &__content {
            margin-top: 30px;
        }
    }

    .carousel__inner {
        width: 380px;
    }
    .slick-slide img {
        width: 100%;
    }
    .reviews {
        padding: 0 15px 30px 15px;
        &__descr{
            max-width: 550px;
        }
    }
}

@media (max-width: 575px){
    .header {
        flex-direction: column;
        &__logo {
            margin-bottom: 10px;
        }
        &__official {
            margin-bottom: 10px;
        }
    }

    .promo {
        &__header{
            font-size: 30px;
        }
        &__subheader {
            font-size: 19px;
        }
        &__wrapper{
            margin-top: 22px;
        }
        &__icons {
            flex-direction: column;
            margin-top: 30px;
            width: 100%;
        }
        &__icon {
            margin-bottom: 13px;
            width: 100%;
            img {
                margin-bottom: 8px;
            }
        }
    }

    .button {
        &_phone {
            margin-top: 10px;
        }
        &_main{
            margin-top: 50px;
            width: 260px;
        }
    }

    .title_left {
        font-size: 24px;
    }

    .feed-form {
        padding: 0 30px 0 0px;
        width: 250px;
        margin-top: 15px;
    }

    .consultation{
        padding: 75px 30px 50px 30px;
        &__descr {
            margin-top: 50px;
            font-size: 19px;
        }
    }

    .advantage {
        padding: 50px 30px 50px 30px;
    }

    .carousel__inner {
        width: 320px;
    }

    .reviews {
        padding: 0 15px 30px 15px;
        &__descr{
            max-width: 300px;
        }
    }
    .footer {
        &__info {
            padding: 15px 15px;
            width: 320px;
            height: 200px;
        }
        &__address {
            margin-bottom: 25px;
            font-size: 15px;
        }
    }
    .modal {
        width: 300px;
        padding: 30px 40px 20px 40px;
        &__subtitle {
            font-size: 17px;
            line-height: 16px;
        }
        &__descr {
            line-height: 16px;
            font-size: 12px;
        }
    }
}
