.reviews {
    padding: 0 62px 70px 0;
    &__block {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    &__img {
        width: 169px;
        height: 169px;
        margin-right: 62px;
        margin-top: 10px;
    }
    &__descr {
        width: 650px;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
    }
    &__status {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.3;
        div {
            margin-top: 17px;
        }
    }
}