@import 'src/sass/base/variables';
@import 'src/sass/base/animation.scss';
*{
    font-family: Museo Sans, sans-serif;
    outline: none;
}

    .container{
        max-width: 950px;
        margin: 0 auto;
    }
    
 @import 'src/sass/blocks/promo';
 @import 'src/sass/blocks/header.scss';
 @import 'src/sass/blocks/button.scss';
 @import 'src/sass/blocks/advantage.scss';
 @import 'src/sass/blocks/title.scss';
 @import 'src/sass/blocks/consultation.scss';
 @import 'src/sass/blocks/forms.scss';
 @import 'src/sass/blocks/carousel.scss';
 @import 'src/sass/blocks/catalog.scss';
 @import 'src/sass/blocks/reviews.scss';
 @import 'src/sass/blocks/footer.scss';
 @import 'src/sass/blocks/modal.scss';
 @import 'src/sass/blocks/media.scss';
 @import 'src/sass/blocks/pageup.scss';
